{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Liste des categories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>actions</th>
                    {% elseif is_granted('ROLE_USER') %}
                    
                    {% else %}
                   
                    {% endif %}
                
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.Titre }}</td>
                

                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                    <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}">show</a>
                    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">edit</a>
                    </td>
                    {% elseif is_granted('ROLE_USER') %}
              
                    {% else %}
                    Non connecté
                    {% endif %}
                
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_categorie_new') }}">Create new</a>
                    {% elseif is_granted('ROLE_USER') %}
              
                    {% else %}
                   
                    {% endif %}
    
{% endblock %}
