{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.Titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.Contenu }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ article.dateCreation ? article.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ article.etat ? 'Yes' : 'No' }}</td>
            </tr>

            <tr>
                <th>Liste Commentaire</th>
                <td>
                    

                    {% for com in commentaires %}
						[{{com.Commentaire}}],
						{% else %}
                        Aucun commentaire
						{% endfor %}


                </td>
            </tr>

            <tr>
                <th>Dateparution</th>
                <td>{{ article.dateparution ? article.dateparution|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_index') }}">back to list</a>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}

    {% elseif is_granted('ROLE_USER') %}
    Connecter en tand que Utilisateur
    {% else %}
    Non connecté
    {% endif %}
    

    

    
{% endblock %}
